
body{
    width: 100vw;
    height: 100vh;
}

button{
    background-color: rgb(108, 108, 247);
    color: white;
    border: none;
    padding:5px 15px;
    border-radius: 6px;
    font-size: 26px;
    transition: 0.7s;
}
button:hover{
    background-color: white;
    color:  rgb(108, 108, 247);
    transform: translateY(-4px);
    transition: 0.7s;
}
.buttonDiv{
    padding-top: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}