body{
    height: auto;
    width: auto;
}

.createAccount-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border: 4px solid rgb(88, 141, 255);
    margin-top:10rem;
    width: 30%;   
    height: 40%;
    padding:40px 20px;

    margin-left: auto;
    margin-right: auto;
}

.top{
    display: grid;
    grid-template-columns: 100px 1fr;
    row-gap: 20px;
}
#createAccount{
    margin-bottom: 45px;
}

.bottom{
    display: grid;
    grid-template-columns: repeat(4, 100px);
    margin-top: 1.5em;
}

.bottom input{
    width: 40px;
}

.bottom label{
    justify-self: center;
}

.send{
    grid-column: 1/6;
}

input{
    border-radius: 4px;
    opacity: 0.5;
    height: 20px;
}

label{
    align-self:center;
}





