body{
    color: white;
    background-color: #1f1f1f; 
    /* mine now google */
}

.showMore{
    display: flex;
    justify-content: center;
    font-style: italic;
    font-weight: 400;
    opacity: 0.5;

}
.timeButtons{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 2em 0 4em 0;
    width: 40%;
    button{
        border:1px solid transparent;
        padding: 25px;
        background-color: rgb(88, 141, 255);
        font-size: 16px;
        font-weight: 600;
        color: white;
        transition: 0.7s;

        &.active{
            background-color:rgba(88, 141, 255, 0.527);
            color: white;
            transition: 0.7s;

        }
    }
   

    #current{
        border-top-right-radius: 12px;
        border-bottom-right-radius: 12px;
        border-left: 1px solid white;
        
    }

    #past{
        border-top-left-radius: 12px;
        border-bottom-left-radius: 12px;
        border-right: 1px solid white;
        
    }
    
}




.reservation-container{
    padding-top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.customer-reservation{
    padding-top: 150px;
}

.reserveName{
    position: relative;
    margin-top: 20px;
    transition: 0.7s;
}

.reserveName::before{
    content: "";
    bottom: -2px;
    left: 0;
    height: 2px;
    width: 0;
    background-color: white;
    position: absolute;
    transition: 0.7s;
}


.reserveName:hover::before{
    width: 100%;
    transition: 0.3s;
}