


html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    /* background-image: url(../PHOTO/background.jpg); */
    font-family: sans-serif;
    font-weight: 600;
    background-color: #1f1f1f; 
}




.navBar {
    display: flex;
    justify-content: center; 
    align-items: center; 
    position: fixed; 
    top: 0; 
    left: 0;
    width: 100vw; 
    height: 60px;  
    background-color: rgb(88, 141, 255); 
    z-index: 1000;  
}
.navBarOptions{
    display: flex;
    flex-direction: row;
   justify-content: center;
   align-items: center;
}
.navBarOptions button{
    background-color:transparent;
    color: white;
    border:none;
    font-size:18px;
    transition: 0.5s;
    padding: 10px 15px;
    height: 60px;
   
}
.navBarOptions button:hover{
    opacity: 0.9;
    background-color: aliceblue;
    color:rgb(88, 141, 255);
    transition: 0.5s;
    height: 60px;
   
}


@keyframes changeBackground {
    0% {
        background-image: url('../PHOTO/catering.jpg');
    }
    33% {
        background-image: url('../PHOTO/catering2.jpeg');
    }
    66% {
        background-image: url('../PHOTO/catering3.jpg');
    }
    100% {
        background-image: url('../PHOTO/catering.jpg'); 
    }
}
#signIn{
    position: fixed;
    right: 0;
    margin-right: 1rem;
}

#home{
    position:fixed;
    left:0;
    margin-left:1rem;
}


.menu {
    display: flex;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    width: 100vw;
    height: 80vh;
    position: relative;
    color: rgb(255, 255, 255);
    font-style: normal;
    z-index: 2;
    box-sizing: border-box;
}

.menu::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 80vh;
    background-size: cover;
    background-position: contain;
    background-repeat: no-repeat;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.9);
    filter: blur(4px);
    animation: changeBackground 20s infinite;
}

#slogan2{
    text-align: left;
    padding-left:5vw;
    margin-top:5px;
    font-weight: 600;
    font-size: 22px;
}
#slogan{
    text-align: left;
    padding-left:5vw;
    margin-bottom:0;
    font-size: 45px;
}




.option-container1, .option-container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5rem auto;
    width: 1000px;
    height: 50vh;
    border-radius: 24px;
    box-sizing: border-box;
  }
  
  
  .block1, .block3 {
    display: flex;
    align-items: center;
    padding-left: 50px;
    width: 600px;
    height: 350px;
    color: black;
    background-color: white;
    font-size: 32px;
    border-bottom-left-radius: 16px;
    border-top-left-radius: 16px;
    opacity: 0; 
    transform: translateY(100%); 
    transition: 0.7s;
}

.block2, .block4 {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    width: 400px;
    height: 350px;
    background-color: rgb(88, 141, 255);
    border-bottom-right-radius: 16px;
    border-top-right-radius: 16px;
    font-size: 24px;
    opacity: 0; 
    transform: translateY(100%); 
    transition: .7s;
}

.block2:hover, .block4:hover{
width: 600px;
transition: .7s;
}


.block1.slide-in,
.block2.slide-in, .block3.slide-in,
.block4.slide-in {
    opacity: 1;
    transform: translateY(0); 
}



#menuButton1, #paymentButton{
    overflow: hidden;
    position: relative;
    background-color: black;
    color: white;
    padding: 10px 20px; 
    font-weight: 600;
    font-size: 20px;
    margin-top: 1rem;
    border-radius: 4px;
    border: 3px solid black;
    cursor: pointer; 
}

#menuButton1:hover, #paymentButton:hover{
    background-color: rgba(57, 118, 250, 0);
    
    border: 3px solid #1f1f1f ;
    transition: 0.7s;
}

#menuButton1 span, #paymentButton span {
    position: relative; 
    z-index: 3;
}

#menuButton1:hover span, #paymentButton:hover span{
    color: black; 
}

#menuButton1::before, #paymentButton::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%; 
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 2;
    transition: transform 0.4s ease; 
}






#description{
    height: 4rem;
}








.send {
    overflow: hidden;
    position: relative;
    background-color: black;
    color: white;
    padding: 10px 20px; 
    font-weight: 600;
    font-size: 15px;
    margin-top: 1rem;
    border: 3px solid black;
    cursor: pointer; 
}

.send span {
    position: relative; 
    z-index: 3;
}

.send:hover span {
    color: black; 
}

.send::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%; 
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 2;
    transition: transform 0.4s ease; 
}

.send:hover::before {
    transform: translateX(100%); 
}

#menuButton1:hover::before, #paymentButton:hover::before {
    transform: translateX(100%); 
}


























footer {
    text-align: center;
    padding: 3px;
    background-color: rgb(88, 141, 255);
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
    font-size: 10px;
}
