.body{
    background-color: #1f1f1f; 
}
.jumbotron{
    text-align: center;
    background-color: rgb(88, 141, 255);  
    padding: 25px;
    outline: 6px solid black;
}
.title{
    color: #f2f2f2;
}
.undertitle{
    color: white;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    background-color: #f2f2f2;
    border: solid black 3px;
    border-radius: 30px;
    padding: 10px;
}
.grid-item{
    padding: 20px;
    font-size: 30px;
    text-align: left;
}
span{
    float: right;
}
.line{
    border-bottom: solid #0F52BA 5px;
}
.menuphoto{
    height: 300px;
    width: 300px;
}